In [1]:
import pandas as pd
show=pd.read_csv('clean.csv')
print(show)

      Name   Age Gender    JoinDate   Salary Department
0    Alice  25.0      F  2021-01-15  50000.0         HR
1      Bob   NaN      M  2020-06-01  60000.0         IT
2      NaN  29.0      M  2019-11-23  55000.0         IT
3   David   22.0      M              52000.0         HR
4      Eve  35.0      F  2021-07-12      NaN    Finance
5    Frank  29.0      M  2018-05-30  58000.0    Finance
6   George  40.0    NaN  2017-09-10  60000.0         IT
7    Henry  30.0      M  2021-12-01  65000.0        NaN
8     Isla  22.0      F  2022-01-20  67000.0         HR
9     Jack   NaN      M  2022-03-15  68000.0         IT
10   Alice  25.0      F  2021-01-15  50000.0         HR

### Initial data preview

In [2]:
print(show.head())

     Name   Age Gender    JoinDate   Salary Department
0   Alice  25.0      F  2021-01-15  50000.0         HR
1     Bob   NaN      M  2020-06-01  60000.0         IT
2     NaN  29.0      M  2019-11-23  55000.0         IT
3  David   22.0      M              52000.0         HR
4     Eve  35.0      F  2021-07-12      NaN    Finance

In [3]:
print(show.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Age         9 non-null      float64
 2   Gender      10 non-null     object
 3   JoinDate    11 non-null     object
 4   Salary      10 non-null     float64
 5   Department  10 non-null     object
dtypes: float64(2), object(4)
memory usage: 424.0+ bytes
None

### Cleaning empty cell

In [4]:
print(show.isnull())

     Name    Age  Gender  JoinDate  Salary  Department
0   False  False   False     False   False       False
1   False   True   False     False   False       False
2    True  False   False     False   False       False
3   False  False   False     False   False       False
4   False  False   False     False    True       False
5   False  False   False     False   False       False
6   False  False    True     False   False       False
7   False  False   False     False   False        True
8   False  False   False     False   False       False
9   False   True   False     False   False       False
10  False  False   False     False   False       False

In [5]:
print(show.isnull().sum())

Name          1
Age           2
Gender        1
JoinDate      0
Salary        1
Department    1
dtype: int64

In [6]:
print(show.dtype())

<class 'AttributeError'>: 'DataFrame' object has no attribute 'dtype'